.sidebar {
  padding-left:0;
  padding-right:0;
  background-color:#F5F5F5;
  height:100%;
}

.content {
  /*padding-left:0;*/
  /*padding-right:0;*/
}

body {
  height:100%;
  width:100%;
}

* {
  font-family:'Karla', sans-serif;
}

.navbar {
  border:none;
}

.navbar-default {
  background-color:#F5F5F5;
}

.well {
  min-height:20px;
  padding:19px;
  margin-bottom:20px;
  -webkit-box-shadow:none;
  background-color:white;
}

